body, .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


table {
  border-collapse: collapse;
  border: 2px solid rgb(200,200,200);
  border-radius: 5px;
  letter-spacing: 1px;
  font-size: 0.8rem;
  overflow: hidden;
}


td, th {
    border: 1px solid rgb(113, 112, 112);
    margin: 0;
    padding: 7px 15px;
}

tr:nth-child(odd) td {
  background-color: rgb(221, 221, 221);;
}

tr:nth-child(even) td {
  background-color: rgb(240,240,240);
}

tr td:not(:first-child) {
    font-size: 14px;
}

th {
    background-color: rgb(162, 150, 114);
    font-size: 15px;
}

dialog {
    border: solid 1px rgb(174, 174, 174);
    border-radius: 5px;
    background-color: rgb(233, 233, 233);
}

.add-button {
    margin-top: 30px;
    padding: 10px 15px;
    background-color: rgb(162, 150, 114);
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 600;
}

button:hover {
    opacity: 0.9
}

.add-button:active {
    box-shadow: 0 0 0 1px #000000;
}

form button,
input,
select,
label {
  font-family: inherit;
  font-size: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 170px;
  display: inline-block
}

legend {
    font-weight: 600;
    font-size: 18px;
}
form p {
    display: flex;
    align-items: center;
}

.form-submit {
    width: 100%;
    padding: 7px 0;
    margin-bottom: 15px;
    margin-top: 20px;
    background-color: rgb(162, 150, 114);
    border: 1px solid rgb(162, 150, 114);
    border-radius: 5px;

}

.form-cancel {
    margin: 0 auto;
}

input {
    padding: 0 2px;
}

.dialog-buttons {
    display: flex;
    justify-content: center;
}